* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 25px;
    font-family: sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.input, .pass {
    padding-bottom: 20px;
}

.header {
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
    width: 30%;
    background-color: #c0f8c0;
}

.banner {
    height: 100%;
    width: 70%;
    background-color: burlywood;
}

.menu {
    display: flex;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: lightgray;
}

.home, .product, .order {
    height: 100%;
    width: 10%;
    background-color: blanchedalmond;
}

.order {
    margin-left: calc(80%);
}

.main {
    display: flex;
    height: 500px;
    width: 100%;
}

.slideBar {
    height: 500px;
    width: 30%;
    background-color: #f59cf5;
}

.listproduct {
    background-color: cornflowerblue;
    height: 500px;
    width: 70%;
}
.admin{
    margin-top: 80px;
    height: 500px;
    display: flex;
}
.main-details{
    width: 80%;
}
.product-order {
    width: 20%;
    background-color: #c0f8c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menuAdmin {
    width: 100%;
    height: 20%;
    background-color: plum;
    text-align: center;
}

.listUser {
    width: 100%;
    height: 80%;
    background-color: burlywood;
    text-align: center;
}

.product-order-item{
    border: 1px solid;
    margin: 0 15%;
    text-align: center;
}
.product-order-item p{
    margin: 0;
    padding: 10px;
}